<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Montando o Lanche</title>

  <!-- VUE -->
  <script src="./vue.js"></script>

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <span class="navbar-brand mb-0 h1">Monte seu Lanche</span>
    </div>
  </nav>
  <div class="container">
    <div id="app">
      <div class="row">
        <div class="col-md-6">
          <div class="row mt-2">
            <div class="col">
              <img :src="pao[0]" alt="pao superior">
              <img :src="salada" alt="salada">
              <img :src="ketchup" alt="ketchup">
              <img :src="mostarda" alt="mostarda">
              <img :src="maionese" alt="maionese">
              <img :src="hamburguer" alt="hamburguer">
              <img :src="pao[1]" alt="pao inferior">
            </div>
          </div>
        </div>
        <div class="col-md-6" v-if="etapa==1">
          <!-- Tipo de Pão -->
          <div class="row ">
            <div class="col">
              <div class="card">
                <h5 class="card-header">Tipo de Pão</h5>
                <div class="card-body">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value='gergilim' v-model='inputTipoPao'>
                    <label class="form-check-label">Gergelim</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value='australiano' v-model='inputTipoPao'>
                    <label class="form-check-label">Australiano</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Saladas -->
          <div class="row mt-2">
            <div class="col">
              <div class="card">
                <h5 class="card-header">Saladas</h5>
                <div class="card-body">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="alface" v-model="inputSalada">
                    <label class="form-check-label">Alface</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Molhos -->
          <div class="row mt-2">
            <div class="col">
              <div class="card">
                <h5 class="card-header">Molhos</h5>
                <div class="card-body">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="ketchup" v-model="inputMolhos">
                    <label class="form-check-label">Ketchup</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="mostarda" v-model="inputMolhos">
                    <label class="form-check-label">Mostarda</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="maionese" v-model="inputMolhos">
                    <label class="form-check-label">Maionese</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Bifes -->
          <div class="row mt-2">
            <div class="col">
              <div class="card">
                <h5 class="card-header">Tipo de Bifes</h5>
                <div class="card-body">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="bovino" v-model="inputBife">
                    <label class="form-check-label">Bovino</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="frango" v-model="inputBife">
                    <label class="form-check-label">Frango</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="soja" v-model="inputBife">
                    <label class="form-check-label">Soja</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col d-flex justify-content-end">
              <button type="button" class="btn btn-primary" @click="fazerPedido()">Fazer pedido</button>
            </div>
          </div>
        </div>

        <div class="col mt-2" v-if="etapa==2">
          <div class="row mt-2">
            <div class="col">
              <div class="card">
                <h5 class="card-header">INFORME SEUS DADOS</h5>
                <div class="card-body">
                  <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" v-model='inputNome'>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Endereço</label>
                    <input type="text" class="form-control" v-model='inputEndereco'>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="row mt-2">
              <div class="col d-flex justify-content-between">
                <button type="button" class="btn btn-warning" @click="etapa=etapa-1">Voltar para o lanche</button>
                <button type="button" class="btn btn-success" @click="confirmarPedido()">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-2" v-if="etapa==3">
          <div class="row mt-2">
            <div class="col">
              <div class="card">
                <h5 class="card-header">PEDIDO CONFIRMADO</h5>
                <div class="card-body">
                 <p>Agora e so aguarda 10 minutinhos!!!</p>
                 <p>Vamos chamar você em breve</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="row mt-2">
              <div class="col d-flex justify-content-between">
                <button type="button" class="btn btn-primary" @click="etapa=1">Repetir o pedido</button>
                <button type="button" class="btn btn-success" @click="novoPedido()">Novo pedido</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        inputTipoPao: '',
        inputSalada: [],
        inputMolhos: [],
        inputBife: '',
        etapa: 1,
        inputNome: '',
        inputEndereco: ''
      },
      computed: {
        pao() {
          switch (this.inputTipoPao) {
            case 'gergilim':
              return ['./imagens/pao_gergelim_superior.png', './imagens/pao_gergelim_inferior.png']
            case 'australiano':
              return ['./imagens/pao_australiano_superior.png', './imagens/pao_australiano_inferior.png']
            default:
              return ['./imagens/padrao/pao_superior.png', './imagens/padrao/pao_inferior.png']
          }
        },
        salada() {
          if (this.inputSalada.includes('alface')) {
            return './imagens/alface.png'
          }
          return './imagens/padrao/alface.png'

        },
        ketchup() {
          if (this.inputMolhos.includes('ketchup')) {
            return './imagens/ketchup.png'
          }
          return 'imagens/padrao/molho.png'
        },
        mostarda() {
          if (this.inputMolhos.includes('mostarda')) {
            return './imagens/mostarda.png'
          }
          return 'imagens/padrao/molho.png'
        },
        maionese() {
          if (this.inputMolhos.includes('maionese')) {
            return './imagens/maionese.png'
          }
          return 'imagens/padrao/molho.png'
        },
        hamburguer() {
          switch (this.inputBife) {
            case 'bovino':
              return './imagens/bovino.png'
            case 'frango':
              return './imagens/frango.png'
            case 'soja':
              return './imagens/soja.png'
            default:
              return './imagens/padrao/hamburguer.png'
          }
        }
      },
      methods: {
        fazerPedido() {
          if (this.inputTipoPao && this.inputBife) {
            this.etapa = 2
          } else {
            alert('Você precisa selecionar no mínimo um pão e um bife')
          }
        },
        confirmarPedido(){
          if(this.inputNome && this.inputEndereco){
            this.etapa=3
            //realizar uma requisição  https enviado os dados do pedido para backend da aplicação
        setTimeout(()=>this.novoPedido(),7000)
          }
        else{
          alert('Você precisar informar seu nome e endereço');
        }
        },
        novoPedido(){
        this.etapa= 1,
        this.inputTipoPao= '',
        this.inputSalada= [],
        this.inputMolhos= [],
        this.inputBife= '',
        this.inputNome='',
        this.inputEndereco= ''
        }
      }
    })
  </script>

</body>

</html>